// -----------------------------------//
//               COLORS               // 
// -----------------------------------// 
@import '../sass/utils/colors';
// -----------------------------------//
//              VARIABLES             // 
// -----------------------------------// 
@import '../sass/utils/variables';
// ------------------------- ---------//
//               MIXINS               // 
// ---------------------------------- // 
@import '../sass/utils/mixins';
// -----------------------------------//
//            PLACEHOLDERS            // 
// ---------------------------------- // 
@import '../sass/utils/placeholders';
// -----------------------------------//
//                ROBOTO              // 
// ---------------------------------- // 
@import '../sass/utils/typography';
body{
    margin: 0;
    padding: 0;
    color: $tolopea;
}